# Fitness Trackers

1. Uno de los primeros pasos para realizar un buen análisis de datos es familiarizarnos con los datos que contiene el fichero a analizar. Para ello, calcularemos los estadísticos descriptivos elementales de las variables del fichero. Una vez cargados los datos en nuestro programa Python (utilizando la librería Pandas), calcula los siguientes valores para cada una de las variables:

In [187]:
import math
import pandas as pd

datos = pd.read_csv("Fitness_trackers.csv")
datos.head()

,Brand Name,Device Type,Model Name,Color,Selling Price,Original Price,Display,Rating (Out of 5),Strap Material,Average Battery Life (in days),Reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,"2,499","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,"2,099","2,499",AMOLED Display,4.2,Thermoplastic polyurethane,14,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,"1,722","2,099",LCD Display,3.5,Leather,14,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,"2,469","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
4,Xiaomi,FitnessBand,Band 3,Black,"1,799","2,199",OLED Display,4.3,Plastic,7,NaN

* Número de muestras (valores distintos de missing)

In [188]:
nMuestras = []
for column in datos.columns:
    nMuestras.append([column, len(datos[column].dropna())])
nMuestras

[['Brand Name', 565],
 ['Device Type', 565],
 ['Model Name', 565],
 ['Color', 565],
 ['Selling Price', 565],
 ['Original Price', 565],
 ['Display', 565],
 ['Rating (Out of 5)', 514],
 ['Strap Material', 565],
 ['Average Battery Life (in days)', 565],
 ['Reviews', 78]]

Se comprueba que 'Rating (Out of 5)' y 'Reviews' tienen valores _missing_.

* Media y desviación estándar de aquellas variables en las que tenga sentido (numéricas)
* Valor mínimo y valor máximo de aquellas variables en las que tenga sentido (numéricas)

In [189]:
datos.dtypes

Brand Name                         object
Device Type                        object
Model Name                         object
Color                              object
Selling Price                      object
Original Price                     object
Display                            object
Rating (Out of 5)                 float64
Strap Material                     object
Average Battery Life (in days)      int64
Reviews                            object
dtype: object

Si comparamos los tipos asignados con los numéricos, vemos que además del Rating y la Average Battery Life también deberían ser numéricos los precios. Si buscamos precios de los trackers en internet, nos daremos cuenta de que son erróneos:
* Si están en formato americano (coma = miles), el precio está multiplicado por 10000.
* Si están en formato europeo (coma = decimales), el precio está dividido por 10.

La intención es cambiar estos tipos a numérico y corregir precios, sin embargo sigue habiendo valores anómalos (dos comas). Primero corregiremos estos.

In [190]:
preciosVenta = []
preciosOrig = []


for element in datos["Selling Price"]:
    if element.count(",")!=1: #Primero corregimos valores con dos comas quitando la primera
        posPrimeraComa = element.find(",")
        precio = element[:posPrimeraComa] + element[posPrimeraComa+1:]
        
#     posComa = element.find(",")
#     #Version1 = corregir precio
# #     precioConPunto = element[:posComa+2] + "." + element[posComa+2:]
# #     precio = precioConPunto.replace(",","")
#     #Version2 (current)= corregir coma
    precio = element.replace(",","")
    preciosVenta.append(precio)
     
datos["Selling Price"] = pd.to_numeric(preciosVenta, downcast="integer")

for element in datos["Original Price"]:
    if element.count(",")!=1: #Primero corregimos valores con dos comas quitando la primera
        posPrimeraComa = element.find(",")
        precio = element[:posPrimeraComa] + element[posPrimeraComa+1:]
        
    precio = element.replace(",","")        
    preciosOrig.append(precio)

datos["Original Price"] = pd.to_numeric(preciosOrig, downcast="integer")

    
datos.head(10)

,Brand Name,Device Type,Model Name,Color,Selling Price,Original Price,Display,Rating (Out of 5),Strap Material,Average Battery Life (in days),Reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,2499,2999,AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,2099,2499,AMOLED Display,4.2,Thermoplastic polyurethane,14,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,1722,2099,LCD Display,3.5,Leather,14,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,2469,2999,AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
4,Xiaomi,FitnessBand,Band 3,Black,1799,2199,OLED Display,4.3,Plastic,7,NaN
5,Xiaomi,FitnessBand,Band - HRX Edition,Black,1299,1799,OLED Display,4.2,Plastic,20,NaN
6,Xiaomi,FitnessBand,Band 2,Black,2499,2499,OLED Display,4.3,Plastic,7,NaN
7,Xiaomi,Smartwatch,Revolve,Black,12349,15999,AMOLED Display,4.4,Silicone,14,2
8,Xiaomi,Smartwatch,RevolveActive,Black,12999,15999,AMOLED Display,4.4,Silicone,14,3
9,Xiaomi,FitnessBand,Smart Band 3i,Black,1270,1599,OLED Display,4.2,Thermoplastic polyurethane,7,NaN

Además, el número de reviews tampoco está en tipo numérico. Si bien no es de utilidad calcular estadísticos generales sobre esta variable, la convertiremos en numérica para posteriores cálculos concretos:

In [198]:
reviewsOrig = []

for element in datos["Reviews"]:
    if type(element) is str:
        posComa = element.find(",")
        review = element[:posComa] + element[posComa+1:]
        review = element.replace(",","")
        element = review

    reviewsOrig.append(element)

datos["Reviews"] = pd.to_numeric(reviewsOrig) # TODO pasar a entero

datos.head(10)

,Brand Name,Device Type,Model Name,Color,Selling Price,Original Price,Display,Rating (Out of 5),Strap Material,Average Battery Life (in days),Reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,2499,2999,AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,2099,2499,AMOLED Display,4.2,Thermoplastic polyurethane,14,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,1722,2099,LCD Display,3.5,Leather,14,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,2469,2999,AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
4,Xiaomi,FitnessBand,Band 3,Black,1799,2199,OLED Display,4.3,Plastic,7,NaN
5,Xiaomi,FitnessBand,Band - HRX Edition,Black,1299,1799,OLED Display,4.2,Plastic,20,NaN
6,Xiaomi,FitnessBand,Band 2,Black,2499,2499,OLED Display,4.3,Plastic,7,NaN
7,Xiaomi,Smartwatch,Revolve,Black,12349,15999,AMOLED Display,4.4,Silicone,14,2.0
8,Xiaomi,Smartwatch,RevolveActive,Black,12999,15999,AMOLED Display,4.4,Silicone,14,3.0
9,Xiaomi,FitnessBand,Smart Band 3i,Black,1270,1599,OLED Display,4.2,Thermoplastic polyurethane,7,NaN

In [195]:
datos.dtypes

Brand Name                         object
Device Type                        object
Model Name                         object
Color                              object
Selling Price                       int32
Original Price                      int32
Display                            object
Rating (Out of 5)                 float64
Strap Material                     object
Average Battery Life (in days)      int64
Reviews                           float64
dtype: object

In [230]:
variablesNumericas = datos[["Selling Price","Original Price", "Rating (Out of 5)", "Average Battery Life (in days)"]]
mediaNumericas = round(variablesNumericas.mean(), 3)
stdNumericas = round(variablesNumericas.std(), 3)
minNumericas = round(variablesNumericas.min(), 3)
maxNumericas = round(variablesNumericas.max(), 3)

valoresInteres = pd.DataFrame([mediaNumericas,stdNumericas,minNumericas,maxNumericas], columns=["Selling Price","Original Price", "Rating (Out of 5)", "Average Battery Life (in days)"])
valoresInteres["Valor"] = ["Media", "Desviación Estándar", "Mínimo", "Máximo"]
valoresInteres.set_index("Valor", inplace = True)

valoresInteres

,Selling Price,Original Price,Rating (Out of 5),Average Battery Life (in days)
Valor,,,,
Media,22110.373,25365.361,4.230,9.027
Desviación Estándar,19914.926,20384.029,0.391,7.869
Mínimo,1195.000,1599.000,2.000,1.000
Máximo,122090.000,122090.000,5.000,45.000

2. Hay datos que nos interesa analizar basándonos en agrupaciones, para darle un sentido a nuestro análisis en base a esa agrupación. Basándonos en las siguientes agrupaciones:
* Por tipo de dispositivo

In [202]:
tiposDisp = list(set(datos["Device Type"]))
print(tiposDisp)

['Smartwatch', 'FitnessBand']

* Por precio de venta. Estableceremos cuatro grupos en base a la media del precio de venta de cada tipo de dispositivo:
 * Smartwatches con un precio inferior o igual a la media de precios de venta de estos dispositivos
 * Smartwatches con un precio superior a la media de precios de venta de estos dispositivos
 * Fitnessbands con un precio inferior o igual a la media de precios de venta de estos dispositivos
 * Fitnessbands con un precio superior a la media de precios de venta de estos dispositivos

In [10]:
# Condiciones a cumplir:

swBajoMedia = (datos["Selling Price"] <= mediaSPrice) & (datos["Device Type"] == "Smartwatch")
swSobreMedia = (datos["Selling Price"] >= mediaSPrice) & (datos["Device Type"] == "Smartwatch")
fbBajoMedia = (datos["Selling Price"] <= mediaSPrice) & (datos["Device Type"] == "FitnessBand")
fbSobreMedia = (datos["Selling Price"] >= mediaSPrice) & (datos["Device Type"] == "FitnessBand")

* Por marca

In [11]:
marcas = list(set(datos["Brand Name"]))
print(marcas)

['LCARE', 'Fastrack', 'APPLE', 'SAMSUNG ', 'Honor', 'Noise ', 'FOSSIL ', 'realme', 'Infinix', 'huami', 'LAVA', 'Noise', 'boAt ', 'Huawei', 'GARMIN ', 'Oppo', 'GOQii', 'FitBit', 'OnePlus ', 'Xiaomi']

Hay una marca, "Noise", duplicada con espacio, que tendremos que arreglar:

In [12]:
datos.loc[datos["Brand Name"]=="Noise ","Brand Name"] = "Noise"

marcas = list(set(datos["Brand Name"]))
print(marcas)

['LCARE', 'Fastrack', 'APPLE', 'SAMSUNG ', 'Honor', 'FOSSIL ', 'realme', 'Infinix', 'huami', 'LAVA', 'Noise', 'boAt ', 'Huawei', 'GARMIN ', 'Oppo', 'GOQii', 'FitBit', 'OnePlus ', 'Xiaomi']

Calcula los siguientes estadísticos en base a cada una de las agrupaciones definidas previamente con respecto a las variables selling price, original price, rating, average battery life in days y reviews:

In [208]:
datosFilt = datos[["Device Type", "Selling Price", "Original Price", "Rating (Out of 5)", "Average Battery Life (in days)", "Reviews"]]

* Número de observaciones

In [203]:
# Por tipo de dispositivo

print("Número de observaciones por dispositivo:")

datosPorTipo = datosFilt.groupby("Device Type").count()
datosPorTipo

Número de observaciones por dispositivo:

,Selling Price,Original Price,Rating (Out of 5),Average Battery Life (in days),Reviews
Device Type,,,,,
FitnessBand,75,75,75,75,13
Smartwatch,490,490,439,490,65

In [204]:
# Por precio de venta
print("Número de observaciones por precio de venta:")

datosswBajoMedia = datosFilt.loc[swBajoMedia].groupby("Device Type").count()
datosswBajoMedia.rename(index={'Smartwatch': 'Smartwatches bajo precio medio'}, inplace=True)

datosswSobreMedia = datosFilt.loc[swSobreMedia].groupby("Device Type").count()
datosswSobreMedia.rename(index={'Smartwatch': 'Smartwatches sobre precio medio'}, inplace=True)

datosfbBajoMedia = datosFilt.loc[fbBajoMedia].groupby("Device Type").count()
datosfbBajoMedia.rename(index={'FitnessBand': 'FitnessBands bajo precio medio'}, inplace=True)

datosfbSobreMedia = datosFilt.loc[fbSobreMedia].groupby("Device Type").count()
datosfbSobreMedia.rename(index={'FitnessBand': 'FitnessBands sobre precio medio'}, inplace=True)

datosPorPrecio = datosswBajoMedia.append(datosswSobreMedia).append(datosfbBajoMedia).append(datosfbSobreMedia)
datosPorPrecio.index.names = ['Grupos por precio de venta']

datosPorPrecio

Número de observaciones por precio de venta:

,Selling Price,Original Price,Rating (Out of 5),Average Battery Life (in days),Reviews
Grupos por precio de venta,,,,,
Smartwatches bajo precio medio,307,307,292,307,65
Smartwatches sobre precio medio,183,183,147,183,0
FitnessBands bajo precio medio,75,75,75,75,13

La categoría "FitnessBand prices above mean" no aparece dado que no existe ninguna FitnessBand en el dataset cuyo precio sea superior al precio medio:

In [40]:
datosfbSobreMedia = datosFilt.loc[fbSobreMedia].count()
datosfbSobreMedia

Device Type                       0
Selling Price                     0
Original Price                    0
Rating (Out of 5)                 0
Average Battery Life (in days)    0
Reviews                           0
dtype: int64

In [231]:
# Por marca
print("Número de observaciones por marca:")    
datosMarca = datos[["Brand Name", "Selling Price", "Original Price", "Rating (Out of 5)", "Average Battery Life (in days)", "Reviews"]].groupby("Brand Name").count()
datosMarca

Número de observaciones por marca:

,Selling Price,Original Price,Rating (Out of 5),Average Battery Life (in days),Reviews
Brand Name,,,,,
APPLE,86,86,86,86,0
FOSSIL,133,133,133,133,15
Fastrack,6,6,6,6,0
FitBit,51,51,51,51,0
GARMIN,101,101,50,101,0
GOQii,4,4,4,4,0
Honor,20,20,20,20,20
Huawei,26,26,26,26,0
Infinix,1,1,1,1,0
LAVA,1,1,1,1,0
LCARE,2,2,2,2,0
Noise,19,19,19,19,0
OnePlus,3,3,3,3,0
Oppo,2,2,2,2,1
SAMSUNG,48,48,48,48,0
Xiaomi,10,10,10,10,2
boAt,4,4,4,4,4
huami,36,36,36,36,32
realme,12,12,12,12,4

* Número de valores ausentes (missing)

In [231]:
#Por tipo de dispositivo

print("Número de ausencias por dispositivo:")
    
ausentesPorTipo = datosFilt.set_index("Device Type")
ausentesPorTipo = ausentesPorTipo.isna().groupby("Device Type").sum()
ausentesPorTipo

Número de ausencias por dispositivo:

,Selling Price,Original Price,Rating (Out of 5),Average Battery Life (in days),Reviews
Device Type,,,,,
FitnessBand,0,0,0,0,62
Smartwatch,0,0,51,0,425

In [65]:
# Por precio de venta
print("Número de ausencias por precio de venta:")

ausentesswBajoMedia = datosFilt.loc[swBajoMedia]
ausentesswBajoMedia = ausentesswBajoMedia.set_index("Device Type")
ausentesswBajoMedia = ausentesswBajoMedia.isna().groupby("Device Type").sum()
ausentesswBajoMedia.rename(index={'Smartwatch': 'Smartwatches bajo precio medio'}, inplace=True)

ausentesswSobreMedia = datosFilt.loc[swSobreMedia]
ausentesswSobreMedia = ausentesswSobreMedia.set_index("Device Type")
ausentesswSobreMedia = ausentesswSobreMedia.isna().groupby("Device Type").sum()
ausentesswSobreMedia.rename(index={'Smartwatch': 'Smartwatches sobre precio medio'}, inplace=True)

ausentesfbBajoMedia = datosFilt.loc[fbBajoMedia]
ausentesfbBajoMedia = ausentesfbBajoMedia.set_index("Device Type")
ausentesfbBajoMedia = ausentesfbBajoMedia.isna().groupby("Device Type").sum()
ausentesfbBajoMedia.rename(index={'FitnessBand': 'FitnessBands bajo precio medio'}, inplace=True)

ausentesfbSobreMedia = datosFilt.loc[fbSobreMedia]
ausentesfbSobreMedia = ausentesfbSobreMedia.set_index("Device Type")
ausentesfbSobreMedia = ausentesfbSobreMedia.isna().groupby("Device Type").sum()
ausentesfbSobreMedia.rename(index={'FitnessBand': 'FitnessBands sobre precio medio'}, inplace=True)

ausentesPorPrecio = ausentesswBajoMedia.append(ausentesswSobreMedia).append(ausentesfbBajoMedia).append(ausentesfbSobreMedia)
ausentesPorPrecio.index.names = ['Ausentes agrupados por precio de venta']

ausentesPorPrecio

Número de ausencias por precio de venta:

,Selling Price,Original Price,Rating (Out of 5),Average Battery Life (in days),Reviews
Ausentes agrupados por precio de venta,,,,,
Smartwatches bajo precio medio,0,0,15,0,242
Smartwatches sobre precio medio,0,0,36,0,183
FitnessBands bajo precio medio,0,0,0,0,62

Igual que sucedió con los datos de FitnessBands con precio superior a la media, tampoco hay valores missing en la misma categoría:

In [66]:
ausentesfbSobreMedia = datosFilt.loc[fbSobreMedia].count()
ausentesfbSobreMedia

Device Type                       0
Selling Price                     0
Original Price                    0
Rating (Out of 5)                 0
Average Battery Life (in days)    0
Reviews                           0
dtype: int64

In [292]:
# Por marca
print("Número de ausencias por marca:")

datosMarca = datos[["Brand Name", "Selling Price", "Original Price", "Rating (Out of 5)", "Average Battery Life (in days)", "Reviews"]]
ausentesMarca = datosMarca.set_index("Brand Name")
ausentesMarca = ausentesMarca.isna().groupby("Brand Name").sum()
ausentesMarca

Número de observaciones por marca:

,Selling Price,Original Price,Rating (Out of 5),Average Battery Life (in days),Reviews
Brand Name,,,,,
APPLE,0,0,0,0,86
FOSSIL,0,0,0,0,118
Fastrack,0,0,0,0,6
FitBit,0,0,0,0,51
GARMIN,0,0,51,0,101
GOQii,0,0,0,0,4
Honor,0,0,0,0,0
Huawei,0,0,0,0,26
Infinix,0,0,0,0,1
LAVA,0,0,0,0,1
LCARE,0,0,0,0,2
Noise,0,0,0,0,19
OnePlus,0,0,0,0,3
Oppo,0,0,0,0,1
SAMSUNG,0,0,0,0,48
Xiaomi,0,0,0,0,8
boAt,0,0,0,0,0
huami,0,0,0,0,4
realme,0,0,0,0,8

* Mediana

In [232]:
# Por tipo de dispositivo

medianaPorTipo = datosFilt.groupby("Device Type").median() # TODO dropna o no?

medianaPorTipo

,Selling Price,Original Price,Rating (Out of 5),Average Battery Life (in days),Reviews
Device Type,,,,,
FitnessBand,2999,3999,4.2,7,4628.0
Smartwatch,18990,21990,4.3,7,259.0

In [ ]:
# Por precio de venta

In [ ]:
# Por marca